body {
  font-family: sans-serif;
  font-size: 20px;
  background-color: #570d1c;
  color: #d2cbd8;
  margin: 0;
  background-image: linear-gradient(180deg, #570d1c, #baac6670), url(https://turismo.buenosaires.gob.ar/sites/turismo/files/ateneo_grand_splendid_1500x610.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
form {
  padding: 2.5rem;
  background-color: rgba(42, 26, 37, 0.85);
  max-width: 500px;
  min-width: 300px;
  font-size: 20px;
  margin: auto;
  border-radius: 15px;
}
fieldset {
  border: none;
}
header {
  margin: 2em auto;
  text-align: center;
  color: #e1dce6
}
label {
  display: block;
  margin: 1.5rem 0;
}
input {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 1.3em;
}
#name, #number, #email {
  font-size: 17px;
  padding: 8px 0 8px 8px;
  width: 100%;
  border-radius: 8px
}
.name, .email, .number {
  font-size: 20px;
  width: 100%;
}
.inline {
  width: unset;
  margin: 10px 0.5em 0 0;
  min-height: 1rem;
  min-width: 1rem
  
}
#dropdown {
  display: block;
  padding: 8px 0 8px 8px;
  font-size: 17px;
  margin: 10px 0 0 0;
  width: 104.7%;
  min-height: 1.3em;
  border-radius: 8px;
  color: #808080
}
.textarea{
  border-radius: 6px;
  padding: 8px 0 8px 8px;
  font-size: 16px;
  width: 100%;
  font-family: sans-serif
}
input[type="submit"] {
  display: block;
  width: 40%;
  margin: auto;
  height: 3em;
  font-size: 1.1rem;
  background-color: #218e93;
  border: none;
  min-width: 100px;
  font-weight: bold;
  border-radius: 8px
  }
  input[type="submit"]:hover{
    background-color: #3cbcc3;
  }